@import url("reset.css");

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

 :root {
    --color-blue: #6C63FF;
    --color-light: #FFFFFF;
    --color-border: #E7E7E7;

    --border-radius: 5px;
    --border: 2px solid var(--color-border);
 }

 html {
  font-size: 16px;
 }

body {
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--color-font);
  background-color: var(--color-light);
}

.container {
  max-width: 1140px;
  margin-inline: auto;
}

.header-container {
  height: clamp(65px, 4.16vw, 80px);
  background-color: var(--color-blue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-right: clamp(20px, 20.31vw, 400px);
  margin-left: clamp(20px, 20.31vw, 400px);
  align-items: center;
}

.button {
  height: clamp(2.18rem, 2.08vw, 2.5rem);
  width: clamp(6.87rem, 6.25vw, 7.5rem);
  text-transform: uppercase;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-light);
  background-color: transparent;
}

.content__title {
  display: flex;
  justify-content: center;
  margin-top: clamp(30px, 5vw, 91px);
  margin-bottom: clamp(30px, 3.64vw, 70px);
  font-size: clamp(1.8rem, 2.3vw, 2.76rem);
  font-weight: 700;
  text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.content__item {
  width: 370px;
  flex-grow: 1;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 146px;
}

.body__title {
  font-size: clamp(1.2rem, 1.15vw, 1.43rem);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: clamp(15px, 2.4vw, 46px);
  margin-bottom: clamp(15px, 20.8vw, 40px);
}

.line-break {
  display: block;
}

.body__image {
  display: block;
  margin: auto;
  width: 270px;
  height: 200px;
}

.body__discription {
  margin-top: 36px;
  margin-left: 20px;
  margin-bottom: 46px;
  text-align: start;
}

.footer {
  height: 80px;
  background-color: var(--color-blue);
  overflow: auto;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin-right: clamp(10px, 20.31vw, 400px);
  margin-left: clamp(10px, 20.31vw, 400px);
  padding-top: 20px;
}

.menu__title {
  text-decoration: none;
  color: var(--color-light);
}

.menu__icon {
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__item {
    width: 360px;
    height: 550px;
    margin-bottom: 50px;
  }

  .content__item:last-child {
    height: 460px;
    width: 738px;
  }
}

@media (max-width: 700px) {
  .menu__list {
    position: relative;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .header__logo {
    margin-right: 15px;
  }
}